*,
*::before,
*::after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.encabezado{
    background-color: rgb(255, 186, 194);
    color: aliceblue;
    height: auto;    
}