.navbar-nav .navbar-text {
    display: flex;
    align-items: center;
    color: rgb(54, 3, 3);
}

.navbar-nav .navbar-text p {
    margin: 0;
    padding-left: 10px;
}

.navbar-nav .navbar-text i {
    font-size: 1.5rem;
}

@media (max-width: 991.98px) {
    .navbar-collapse {
        text-align: left;
    }
}

.navbar-toggler {
    border-color: white;
}

.navbar-toggler .navbar-toggler-icon {
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath stroke="rgba%28255, 255, 255, 1%29" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22" /%3E%3C/svg%3E');
}